<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="NameProgram" value="ModsenTestTask"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    
    
    <!--<target xsi:type="File" name="main" fileName="${basedir}/logs/${NameProgram}/${shortdate}.log" 
            layout="${longdate} | ${uppercase:${level}} | ${callsite} |${event-properties:item=EventId_Id} | ${message}" />
    -->
    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    
    <target xsi:type="File" name="InfoLog" fileName="${basedir}/logs/${NameProgram}/${shortdate}.log"
            layout="${longdate}|${event-properties:item=UserName}|${aspnet-request-ip}-${aspnet-request-host}|${uppercase:${level}}|${aspnet-request-method}|${aspnet-request-url}|${aspnet-request-posted-body}|${aspnet-response-statuscode}|${aspnet-request-useragent}|${message}" />
    
    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="DebugLog" fileName="${basedir}/logs/${NameProgram}/debug/${shortdate}.log"
            layout="${longdate}|${event-properties:item=UserName}|${aspnet-request-ip}-${aspnet-request-host}|${uppercase:${level}}|${aspnet-request-method}|${aspnet-request-url}|${event-properties:item=ParametersItem}|${aspnet-response-statuscode}|${aspnet-request-useragent}|${message} ${exception:format=tostring}" />
    
    <!-- for errors-->
    <target xsi:type="File" name="ErrorLog" fileName="${basedir}/logs/${NameProgram}/errors/${shortdate}.log"
            layout="${longdate}|${event-properties:item=UserName}|${aspnet-request-ip}-${aspnet-request-host}|${uppercase:${level}}|${aspnet-request-method}|${aspnet-request-url}|${aspnet-request-posted-body}|${aspnet-response-statuscode}|${aspnet-request-useragent}|${message} ${exception:format=tostring}" />
     
  </targets>

  <rules>
    <!-- add your logging rules here -->

    <!-- Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "file"  -->

    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="InfoLog" />
    <!--<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="DebugLog" />-->
    <!--<logger name="*" maxlevel="Warn" writeTo="ErrorLog" />--> 
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="ErrorLog" />
    
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />    <!--   BlackHole without writeTo -->
    
    
  </rules>
</nlog>
